<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <!-- Production Settings -->
  <appSettings>
    <add key="APIToken" value="sharp" />
    <add key="APIUrl" value="http://api.dev.nchannel.com/"/>
    <add key="UseNQueue" value="true"/>
    <add key="CachePath" value="c:\CloudProcessor2\Assemblies\"/>
    <add key="ProcessExecutePath" value="c:\\CloudProcessor2\\SyncManagerExecute\\SyncManagerExecute.exe"/>
    <add key="APIToken" value="sharp"/>
    <add key="MaxRunningPerCore" value="1"/>
    <add key="UseStorageQueue" value="true"/>

    <!-- Values for Azure storage queue -->
    <!--add key="StorageKey" value="XO/DZxFIOyQ2gttSH8fcH4le+CWVD9DoVC/VL76fI5YU6ACI+Md5n903rlYYorQNG9+iOMnf+dROgrBAlTGc+w=="/-->
    <add key="StorageKey" value="NOT-USED"/>
    <add key="StorageAccount" value="nchannelmessage"/>
    <add key="StorageQueueName" value="cloud"/>
    
    <add key="WaitMaximum" value="3000"/>
    <add key="WaitMinimum" value="500"/>
    <add key="WaitIncrement" value="100"/>
    <add key="PollEveryXSeconds" value="4"/>

    <!-- email server settings -->
    <add key="EmailToAddresses" value="tony.gilkerson@nchannel.com"/>
    <add key="EmailFromName" value="AEG Docker Alert Services"/>
    <add key="EmailFromAddress" value="ncinfo@nchannel.com"/>
    <add key="EmailSMTPServer" value="smtp.gmail.com"/>
    <add key="EmailUsername" value="noreply@nchannel.com"/>
    <add key="EmailPassword" value="2TheCloud"/>
    <add key="EmailSMTPPort" value="587"/>
    
  </appSettings>
  

</configuration>
